<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santa app</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-screen flex bg-gray-500">
      <div class="flex flex-col space-y-20 p-10 bg-red-500 m-auto">
        <div class="text-white text-4xl font-bold">
          Dear child your request has been sent 😇
        </div>
        <button
          onclick="goBack()"
          type="button"
          class="border py-5 rounded text-white hover:bg-white hover:text-black transition"
        >
          Back to form
        </button>
      </div>
    </div>
  </body>
  <script>
    function goBack() {
      history.back();
    }
  </script>
</html>
